:root{
    --light-purple: #8D25F4;
    --dark-purple: #7200A8;
    --white: #fff;
    --black: #0E0143;

    --primary-text: #FF5C58;
    --secondary-text: #6D8299;
    --primary-bg: aliceblue;
    --secondary-bg: #5C7AEA;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: normal 16px comic sans ms;
}

body{
    background: linear-gradient(105.18deg, var(--light-purple) 0%, var(--dark-purple) 100%);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 5rem;
}

.title, .restartBtn{
    font-weight: 700;
    color: var(--white);
}

.title{
    font-size: 1.5rem;
}

.restartBtn{
    font-size: 1rem;
    background-color: var(--black);
    border-radius: 15px;
    width: fit-content;
    padding: 10px 20px;
}

.announce{
    font-size: 1.5rem;
    font-weight: 800;
}

.win{
    color: var(--primary-text);
    font-size: .875rem;
    letter-spacing: .025rem;
    margin-top: 1rem;
}

.btnContainer p, .closePopup p, .closeRulesPopupBtn{
    background-color: var(--light-purple);
    color: var(--white);
    padding: .5rem 1rem;
    border-radius: 15px;
    cursor: pointer;
}

.board{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    background-color: var(--black);
    border-radius: 25px;
    padding: 30px;
    gap: 15px;
}

.box{
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    font-size: 50px;
    color: #8465FF;
    width: 70px;
    height: 70px;
}

.box:hover{
    background-color: var(--primary-bg);
}

.rulesBtn{
    background-color: var(--primary-text);
    color: var(--white);
    font-weight: 700;
    margin-top: 3rem;
    padding: .5rem 1rem;
    border-radius: 15px;
    cursor: pointer;
}

.popupAnnounce, .popupRules{
    display: none;
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: hidden; 
    background-color: rgba(62, 62, 62, 0.7);
}

.popupAnnounceContainer, .popupRulesContainer{
    background-color: var(--black);
    border-radius: 15px;
    color: white;
    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.popupAnnounceContainer{
    margin: 10% auto; 
    padding: 2rem;
    width: 20rem; 
}

.popupRulesContainer{
    margin: 5% auto; 
    padding: 2rem;
    width: 20rem; 
}

.popupContent{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
}

.popupRulesContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.closePopup{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem
}

.rulesTitle{
    font-size: 1.5rem;
    font-weight: 700;
}

ul {
    list-style-type: decimal;
    padding: 0 30px;
}

ul li{
    padding: 5px 0;
}

span{
    color:  var(--primary-text);
    font-size: 1.25rem;
    font-weight: 700;
}

@media screen and (min-width: 540px){
    .popupRulesContainer{
        width: 30rem; 
    }
}

@media screen and (min-width: 768px){
    .header{
        padding: 5rem 0 2rem 0;
    }

    /* .board{
        width: 25rem;
        height: 25rem;
    }
    
    .box{
        height: 5rem;
        width: 5rem;
    } */

    .popupRulesContainer{
        width: 35rem; 
    }

    .popupAnnounceContainer{
        width: 25rem; 
    }
}

/* .animate__animated.animate__zoomIn {
    --animate-duration: .5s;
} */